.outer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;

  animation: fade 0.5s ease-in-out 0 1 forwards;

  font-family: 'Noto Sans KR', sans-serif;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.entry {
  outline: 0;
  border: 0;

  border: solid 1px;
  border-color: rgb(207, 207, 207);
  border-radius: 12px;
  font-size: 20px;
  padding-left: 20px;
  margin-bottom: 12px;
  width: 80vw;
  height: 50px;
  background: white;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

  transition: all .3s;
}
.entry:hover {
  border-color: #4385F6;
  transition: all .3s;
}

.btn {
  margin-top: 20px;
  color: white;
  background-color: #4385F6;
  border-radius: 12px;
  font-weight: 700;
  font-size: 18px;
  width: 85vw;
  height: 50px;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  outline: 0;
  border: 0;

  transition: all .2s ease-out;
}
.btn:active {
  scale: 98%;

  transition: all .2s ease-out;
}

.btncontain {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.btnl {
  width: 42.5vw;
  height: 50px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  background: white;
  border-radius: 10px 0px 0px 10px;

  transition: all .3s ease-in-out;

  outline: 0;
  border: 0;
}
.btnr {
  width: 42.5vw;
  height: 50px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  background: white;
  border-radius: 0px 10px 10px 0px;

  transition: all .3s ease-in-out;

  outline: 0;
  border: 0;
}
.btnl:active {
  background: rgb(233, 233, 233);
  transition: all .3s ease-in-out;
}
.btnr:active {
  background: rgb(233, 233, 233);
  transition: all .3s ease-in-out;
}

.text {
  margin-left: 8px;
}

.icon {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.entrycontain {
  text-align: left;
  margin-bottom: 5px;
}

.notice {
  margin-top: -10px;
  margin-left: 10px;
  font-size: 15px;
  color:#4385F6;
}