.outer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;

  font-family: 'Noto Sans KR', sans-serif;

  animation: fade;
  animation-duration: 0.5s;
  animation-delay: 0s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.entry {
  outline: 0;
  border: 0;

  border: solid 1px;
  border-color: rgb(207, 207, 207);
  border-radius: 12px;
  font-size: 20px;
  padding-left: 20px;
  margin-bottom: 12px;
  width: 80vw;
  height: 50px;
  background: white;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

  transition: all .3s;
}
.entry:hover {
  border-color: #4385F6;
  transition: all .3s;
}

#mb {
  margin-bottom: 40px;
}

.btn {
  margin-top: 20px;
  color: white;
  background-color: #4385F6;
  /* background-color: white; */
  border-radius: 12px;
  font-weight: 700;
  font-size: 18px;
  width: 85vw;
  height: 50px;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  outline: 0;
  border: 0;

  transition: all .2s ease-out;
}
.btn:active {
  scale: 98%;

  transition: all .2s ease-out;
}

.half {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  border-radius: 12px;
}
.btn_l {
  width: 42.5vw;
  height: 50px;
  border-radius: 12px 0px 0px 12px;
  /*box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);*/
  background: white;
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;

  outline: 0;
  border: 0;
}
.btn_r {
  width: 42.5vw;
  height: 50px;
  border-radius: 0px 12px 12px 0px;
  /*box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);*/
  background: white;
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;

  outline: 0;
  border: 0;
}

.text {
  margin-left: 8px;
}

.icon {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.logo {
  width: 25px;
  height: 25px;
}

.header_contain {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.homebtn {
  background: transparent;
  text-align: left;
  font-size: 16px;
  margin-bottom: 8px;

  outline: 0;
  border: 0;
}
.home {
  color: #4385F6;
}
.hometext {
  margin-left: 4px;
  color: #4385F6;
}