.outer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Noto Sans KR', sans-serif;
}
.inner {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.acts {
  width: 100vw;
  display: flex;
  justify-content: center;
  text-align: left;
  padding-bottom: 16px;
}
.undertext {
  margin-left: 10px;
  color: #4385F6;
}
.tologin {
  text-decoration: underline;
  color: #2b79ff;
}

.bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  object-fit: cover;
  z-index: -10;

  filter:blur(5px);
}

.colored {
  color: #4385F6;
}

.title {
  font-weight: 700;
  font-size: 40px;
}

.btn {
  margin-top: 20px;
  color: white;
  background-color: #4385F6;
  /* background-color: white; */
  border-radius: 12px;
  font-weight: 700;
  font-size: 18px;
  width: 90vw;
  height: 50px;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  outline: 0;
  border: 0;

  transition: all .2s ease-out;
}
.btn:active {
  scale: 98%;

  transition: all .2s ease-out;
}

.text {
  margin-left: 8px;
}

.icon {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}